<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" />

@using System.Globalization
@using it_cost_my_time.Entities;
@using it_cost_my_time.Services;
@page "/"
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>It Cost My Time :)</PageTitle>

<MudLayout>

    <MudAppBar Color="Color.Primary" Fixed="false" Elevation="0">
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" OnClick="DeleteData" Color="Color.Error">Reset</MudButton>
        <MudSpacer />
        <MudAlert Severity="Severity.Info" Variant="Variant.Filled" Dense="true" ContentAlignment="HorizontalAlignment.Center" Elevation="10">Data saved only locally ;)</MudAlert>
        <MudSpacer />
        <MudSelect @onchange="UpdateConfiguration" T="string" Label="Currency" @bind-Value="@configuration.Currency">
            <MudSelectItem Value="@("€")" />
            <MudSelectItem Value="@("$")" />
            <MudSelectItem Value="@("£")" />
            <MudSelectItem Value="@("CHF")" />
        </MudSelect>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Target="_blank" Href="https://github.com/lorenzo-deluca/it-cost-my-time" Edge="Edge.End" />
    </MudAppBar>
     
    <MudExpansionPanels DisableBorders="false" Elevation="0" MultiExpansion="true">
        <MudExpansionPanel IsInitiallyExpanded="true">

            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                    <MudText>Income Configuration</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudSwitch @bind-Checked="@configuration.IncomeType" Label="Income Type" Color="Color.Success" />
                @if (!configuration.IncomeType)
                {
                    <MudNumericField @onchange="UpdateConfiguration" DefaultFocus="DefaultFocus" @bind-Value="configuration.MonthlyIncome" Label="Monthly Income (after tax)" Variant="Variant.Outlined" Step=".2M" Adornment="Adornment.End" AdornmentText="@configuration.Currency" AdornmentColor="Color.Info" />
                    <MudSelect @onchange="UpdateConfiguration" T="int" Label="Monthly Payments" Clearable="false" @bind-Value="@configuration.PayMonths">
                        @for (int month = 10; month <= 15; month++)
                        {
                            <MudSelectItem Value="@month" />
                        }
                    </MudSelect>
                }
                else
                {
                    <MudNumericField @onchange="UpdateConfiguration" DefaultFocus="DefaultFocus" @bind-Value="configuration.YearlyIncome" Label="Yearly Income (after tax)" Variant="Variant.Outlined" Step=".2M" Adornment="Adornment.End" AdornmentText="@configuration.Currency" AdornmentColor="Color.Info" />
                }
                <MudSlider @onchange="UpdateConfiguration" @bind-Value="configuration.WorkingDays" Min="1" Max="7" Step="1" Color="Color.Info">Working Days <b>@configuration.WorkingDays.ToString()</b> (for week)</MudSlider>
                <MudSlider @onchange="UpdateConfiguration" @bind-Value="configuration.WorkingHours" Min="1" Max="24" Step="1" Color="Color.Warning">Working Hours <b>@configuration.WorkingHours.ToString()</b> (h/day)</MudSlider>
                <MudSlider @onchange="UpdateConfiguration" Size="Size.Large" Min="1" Max="100" Step="1" @bind-Value="@configuration.SavingRate">Saving Rate <b>@configuration.SavingRate.ToString()</b> %</MudSlider>
            </ChildContent>

        </MudExpansionPanel>

        <MudExpansionPanel IsInitiallyExpanded="true">

            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                    <MudText>Saving Calculation</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                Yearly Saving <b>@CurrencyFormatter(calculateService.YearlySavings) </b> (income @CurrencyFormatter(configuration.YearlyIncome))  <br />
                Monthly Saving <b>@CurrencyFormatter(calculateService.MonthlySavings)</b> (income @CurrencyFormatter(configuration.MonthlyIncome))  <br />
                Daily Saving <b>@CurrencyFormatter(calculateService.DailySaving)</b> (income @CurrencyFormatter(calculateService.DailyIncome)) <br />
                Hourly Saving <b>@CurrencyFormatter(calculateService.HourlySaving)</b> (income @CurrencyFormatter(calculateService.HourlyIncome)) <br />
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>

    <MudCard>

        <MudCardContent>
            <MudTextField @bind-Value="Amount" Size="Size.Large" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentText="@configuration.Currency" AdornmentColor="Color.Info" Class="mx-12" />
        </MudCardContent>

        <MudCardContent>
        <MudText Typo="Typo.h5">This item cost you </MudText>

        @if (calculateService.CalculateItemTimeCost(Amount).hours > 40)
        {
            <MudText Typo="Typo.h1">@calculateService.CalculateItemTimeCost(Amount).days.ToString("0.00") </MudText>
            <MudText Typo="Typo.h4">working days saving</MudText>
        }
        else
        {
            <MudText Typo="Typo.h1">@calculateService.CalculateItemTimeCost(Amount).hours.ToString("0.00")</MudText>
            <MudText Typo="Typo.h5">working hours saving</MudText>
        }

        </MudCardContent>
    </MudCard>

    <MudAppBar Bottom="true" Fixed="false" Color="Color.Secondary" Elevation="1">
        <MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Warning" Class="ma-4" Size="Size.Small" T="bool" Label=" Light/Dark Mode" />
        <MudSpacer />
        <a href="mailto:me@lorenzodeluca.dev">me@lorenzodeluca.dev</a>
        <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Inherit" Target="_blank" Href="https://www.linkedin.com/in/lorenzo-de-luca/" Edge="Edge.End" />
        <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder" Href="https://www.buymeacoffee.com/lorenzodeluca" Target="_blank" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
</MudLayout>

@code {

    private bool _isDarkMode;
    private MudThemeProvider _mudThemeProvider;

    Configuration configuration = new Configuration();
    CalculateService calculateService;

    public decimal Amount = 100;

    public EventCallback<ChangeEventArgs> ValueChanged { get; set; }

    public App() {
        calculateService = new CalculateService(configuration);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync() {
        string query = Navigation.ToAbsoluteUri(Navigation.Uri).Query;        
        if (!string.IsNullOrWhiteSpace(query) && query.Split('?').Count() > 1 && query.Split('?')[1].Split('=').Count() > 0){
            // parse amount in url parameters
            Amount = decimal.TryParse(query.Split('?')[1].Split('=')[1], out Amount) ? Amount : 0;
        }

        try
        {
            var readConfiguration = await localStorage.GetItemAsync<Configuration>("IncomeConfiguration");
            configuration.ReadConfiguration(readConfiguration);
        }
        catch
        {

        }
    }

    private void UpdateConfiguration() {
        localStorage.SetItemAsync<Configuration>("IncomeConfiguration", configuration);
    }

    void DeleteData() {
        localStorage.ClearAsync();
        configuration = new Configuration();
    }

    private string CurrencyFormatter(decimal currency) {
        return $"{currency.ToString("0,0.00", CultureInfo.InvariantCulture)} {configuration.Currency}";
    }
}